{% trans_default_domain 'SiteVitrineBundle' %}
<section id="pricing"  class="section-border" >
	<div class="container-fluid">
		<div class="row m-t-lg m-b-lg">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-centered">
				<a class="btn btn-main-s2 btn-lg btn-rounded" href="{{ path('fos_user_registration_register') }}">
					<span class="icon icon-rocket"></span>
            		&nbsp;&nbsp;{{ 'homepage.buttons.callToAction'|trans }}
				</a>
				<div class="m-t">
					{{ 'company.end.openSource'|trans }}
					<a href="https://github.com/christophepas/PeerAssess">repository</a>.
				</div>
			</div>
		</div>
	</div>
</section>
