{% extends "SiteUserBundle::layout.html.twig" %}

{% block content %}
<div class="text">      
  <h1>Erreur 500</h1>
  <p>Nous sommes désolé, notre serveur a rencontré une erreur. Vous pouvez <a href="mailto:contact@peerassess.co">nous le signaler</a> ou tenter de <a href="{{ path('site_vitrine_core_homepage') }}">revenir à l'accueil</a>.</p>        
</div>        
{% endblock content %}

