{% extends "SiteUserBundle::layout.html.twig" %}

{% block content %}
<div class="text">      
  <h1>Erreur 503</h1>
  <p>Notre site est actuellement en maintenance, et sera de nouveau disponible très rapidement. Suivez-nous sur twitter pour être mis au courant de nos maintenances.</p>
  <a href="#" class="btn btn-style btn-style-30px btn-primary"><img src="{{ asset('img/icon/twitter.png') }}">Suivez-nous sur twitter</a>
</div>
{% endblock content %}
