/web/bundles/
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/validation
/web/css/compiled
/web/js/compiled
composer.lock
/web/assetic

*.bat
*php~

bin/doctrine.php.bat

/.vagrant
.DS_Store
