
{% block subject %}
{% endblock %}

{% block body_html %}

<table cellpadding="8" cellspacing="0" style="padding:0;width:100%!important;background:#ffffff;background-color:#ffffff" border="0">
  <tbody>
    <tr>
      <td valign="top">
        <table cellpadding="0" cellspacing="0" style="border-radius:4px;border:1px #dceaf5 solid" border="0" align="center">
          <tbody>
            <tr>
              <td colspan="3" height="6">
              </td>
            </tr>
            <tr style="line-height:0px">
              <td width="100%" style="font-size:0px" align="center" height="1">
                <span>
                  <a href="http://www.peerassess.co" target="_blank">
										<img width="170px" style="width:170px" alt="logo" src="{{ asset('img/logo/logo-small-whitebg.png', null, true) }}">
                  </a>
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" style="line-height:25px" border="0" align="center">
                  <tbody>
                    <tr>
                    <td colspan="3" height="30"></td>
                    </tr>
                    <tr>
                      <td width="36"></td>
                      <td width="454" align="left" style="color:#444444;border-collapse:collapse;font-size:11pt;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif';max-width:454px" valign="top">
                        {% block message %}
                          {% block contenu_mail %}
                          {% endblock contenu_mail %}
                          {% block bouton_mail %}
                            <center>
                              <a style="border-radius:3px;color:white;font-size:15px;padding:14px 7px 14px 7px;max-width:210px;font-family:proxima_nova,'Open Sans','lucida grande','Segoe UI',arial,verdana,'lucida sans unicode',tahoma,sans-serif;border:1px #215384 solid;text-align:center;text-decoration:none;width:210px;display:block;background-color:#266098" href="{% spaceless %}{% block lien_bouton_mail %}{% endblock lien_bouton_mail %}{% endspaceless %}" target="_blank">
                              {% block texte_bouton_mail %} {% endblock texte_bouton_mail %}
                              </a>
                            </center>
                          {% endblock bouton_mail %}
                          {% block fin_mail %}
                            <br>L'équipe Peerassess
                          {% endblock fin_mail %}
                        {% endblock %}
                      </td>
                      <td width="36"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="36"></td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table cellpadding="0" cellspacing="0" align="center" border="0">
          <tbody>
          <tr>
            <td height="10"></td>
          </tr>
          <tr>
            <td style="padding:0;border-collapse:collapse">
              <table cellpadding="0" cellspacing="0" align="center" border="0">
                <tbody>
                  <tr style="color:#a8b9c6;font-size:11px;font-family:proxima_nova,'Open Sans','Lucida Grande','Segoe UI',Arial,Verdana,'Lucida Sans Unicode',Tahoma,'Sans Serif'">
                    <td width="400" align="left"></td>
                    <td width="128" align="right">© 2015 Peerassess</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}
