{% trans_default_domain 'SiteVitrineBundle' %}

<footer class="bande">
    <div class="container-fluid">
      <div class="row">
        <div class=" text-center col-xs-12 col-sm-4">
          <div class="col-centered">
            <ul>
              {#<li><a href="{{ path("site_vitrine_core_faq") }}">{{ 'layout.footer.faq'|trans }}</a></li>#}
            </ul>
          </div>
        </div>
        <div class=" col-xs-12 ">
          <div class="col-centered ">
            <ul class="contact">
              <li><a href="{{ path("site_vitrine_core_team") }}">{{ 'layout.footer.team'|trans }}</a></li>
              <li><a href="mailto:contact@peerassess.co">contact@peerassess.co</a></li>
              <li class="social-btns">
                <a href="http://twitter.com/christophepas" target="_blank" class="circle">
                  <span class="icon icon-twitter a-pulse"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>
