{% trans_default_domain 'SiteVitrineBundle' %}

<a href="{{ path("site_supervisor_core_homepage") }}" class="btn btn-dashboard"><span class="icon icon-home"></span>&nbsp;&nbsp;{{ 'appAccess'|trans }}</a> 
