<div class=" activeSelection"  id="langage">
  <div class="row card-container">
  {% for language in languages %}
    <div class="col-xs-4">
      <a class="card col-centered">
        <div class="inactive">
          <div class="image">
          </div>                  
          <h4>{{ language }}</h4>
        </div>
      </a>                
    </div>                                         
  {% endfor %}
  </div>          
</div>