<div class=" inactiveSelection"  id="savoir-faire">
      <div class="row">
        <ul class="tagsSelection">                                                                              
        </ul>
        <div class="progress" id="selection">
        </div>
        <div class="col-centered">
          <div class="btn btn-danger" onClick="javascript : changeTab('langage');" >
        <span class="glyphicon glyphicon-chevron-left"></span> Revenir à la sélection de langage 
      </div>                          
      <div class="btn btn-success" onClick="javascript : changeTab('lancement');" >
        Valider la sélection <span class="glyphicon glyphicon-ok"></span>
      </div>          
    </div>                
  </div>
</div>   