{% trans_default_domain 'SiteCandidateBundle' %}
{% extends '::layout.html.twig' %}

{% block title %}Test{% endblock %}

{% block sidebar %}
	{% include 'SiteCandidateBundle:Utils:sidebar_candidate.html.twig' %}
{% endblock %}

{% block modal %}
	{% include 'SiteCoreBundle:Utils:support.html.twig' %}
{% endblock modal %}

{% block container %}
	<div class="page-content container-fluid" id="{% block id_content %}{% endblock %}">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block logged %}
	<span class="profil">
		<table>
			<tr class="semi-header">
				<td class="name">
					{{ app.user.username }}
				</td>
			</tr>
			<tr class="semi-header">
				<td class="logout">
					<a href="{{ path('fos_user_security_logout') }}">{{ 'common.logout'|trans }} <span class="icon icon-logout"></span></a>
				</td>
			</tr>
		</table>
	</span>
{% endblock logged %}
