{% extends "SiteUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content  %}

<p class="text">
{{ 'resetting.password_already_requested'|trans }}
</p>

{% endblock %}
